{% extends "layout.html" %}
{% block body %}

<!--  SEÇÃO DE EQUIPAMENTOS  -->
<section class="cluster mb-4">
    <div class="d-flex justify-content-between align-items-center mb-1">
        <h2 class="mb-1">Equipamentos</h2>
        <a class="btn btn-outline-light btn-sm" href="{{ url_for('lista_cluster') }}">Ver todos</a>
    </div>
    <div class="d-flex overflow-auto gap-3 p-2">
        {% for cluster in lista_cluster %}
        <div class="card flex-shrink-0 hover-card" style="width: 20rem; cursor: pointer;"
            onclick="window.location.href=`{{ url_for('lista_cluster') }}?cluster={{ cluster.name }}`;"
            title="Clique para exibir informações">
            <div class="d-flex align-items-center gap-3 p-2 border-bottom bg-light rounded">
                <h5 class="mb-0 fw-bold text-truncate" title="{{ cluster.name }}">{{ cluster.name }}</h5>
            </div>
            <div class="card-body d-flex flex-column">
                <p class="mt-0 text-muted flex-grow-1"
                style="display: -webkit-box;
                        -webkit-line-clamp: 3;
                        line-clamp: 3;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;">
                    {{ cluster.description | replace(',', '<br>') | safe  or "Nenhuma descrição disponível" }}
                </p>
                <div class="mt-auto d-flex justify-content-between gap-2">
                    <a class="btn btn-primary btn-sm rounded-pill w-100"
                        href="{{ url_for('lista_equipamentos_cluster', clusterName=cluster.name) }}">
                        Ver equipamentos
                    </a>
                    <a class="btn btn-secondary btn-sm rounded-pill w-100"
                        href="{{ url_for('cluster', clusterName=cluster.name) }}">
                        Editar
                    </a>
                </div>
            </div>

        </div>
        {% endfor %}
    </div>
</section>

<!--  SEÇÃO DE GRUPOS  -->
<section class="grupo mb-4">
    <div class="d-flex justify-content-between align-items-center mb-1">
        <h2 class="mb-1">Grupos</h2>
        <a class="btn btn-outline-light btn-sm" href="{{ url_for('lista_grupos') }}">Ver todos</a>
    </div>
    <div class="d-flex overflow-auto gap-3 p-2">
        {% for grupo in lista_grupo %}
        <div class="card flex-shrink-0 hover-card" style="width: 20rem; cursor: pointer;"
            onclick="window.location.href=`{{ url_for('lista_grupos') }}?grupo={{ grupo.nome }}`;"
            title="Clique para exibir informações">
            <div class="d-flex align-items-center gap-3 p-2 border-bottom bg-light rounded">
                {% set logo_path = url_for('static', filename='images/' ~ grupo.nome ~ '.png') %}
                {% set fallback_logo = url_for('static', filename='images/default.png') %}
                <img src="{{ logo_path }}" alt="Logo {{ grupo.nome }}" class="rounded bg-white shadow-sm p-1"
                    style="height:40px; width:60px; object-fit:contain;"
                    onerror="this.onerror=null; this.src='{{ fallback_logo }}';">
                <h5 class="mb-0 fw-bold text-truncate" title="{{ grupo.nome }}">{{ grupo.nome }}</h5>
            </div>
            <div class="card-body d-flex flex-column">
                {% set coordenadores = grupo.coordenador.split(' e ') %}
                <p class="mb-3">
                    <span class="fw-bold">
                        {{ 'Coordenadores:' if coordenadores|length > 1 else 'Coordenador:' }}</span><br>
                    <span class="text-muted text-truncate d-inline-block w-100"
                        style="max-width: 300px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"
                        title="{{ grupo.coordenador }}">
                        {{ grupo.coordenador }}
                    </span>
                </p>
                <div class="mt-auto d-flex justify-content-between gap-2 pb-2">
                    <a class="btn btn-primary btn-sm rounded-pill w-100"
                        href="{{ url_for('lista_usuarios', groupName=grupo.nome) }}">
                        Ver usuários
                    </a>
                    <a class="btn btn-secondary btn-sm rounded-pill w-100"
                        href="{{ url_for('grupo', groupName=grupo.nome) }}">
                        Editar
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<!--  SEÇÃO DE APLICAÇÕES  -->
<section class="aplicacao mb-4">
    <div class="d-flex justify-content-between align-items-center mb-1">
        <h2 class="mb-1">Aplicações</h2>
        <a class="btn btn-outline-light btn-sm" href="{{ url_for('lista_aplicacao') }}">Ver todas</a>
    </div>
    <div class="d-flex overflow-auto gap-3 p-2">
        {% for app in aplicacoes %}
        {% if app.tipo == 'Aplicação' %}
        <div class="card flex-shrink-0 hover-card d-flex flex-column"
            style="width: 20rem; cursor: pointer; min-height: 12rem;"
             onclick="window.location.href=`{{ url_for('lista_aplicacao') }}?nome={{ app.nome|replace(' ', '-') }}`;" 
            title="Clique para ver detalhes">

            <!-- Cabeçalho -->
            <div class="d-flex align-items-center justify-content-between p-2 border-bottom bg-light rounded-top">
                <h5 class="mb-0 fw-bold text-truncate" style="max-width: 16rem;">
                    {{ app.nome }}
                </h5>
            </div>

            <!-- Corpo -->
            <div class="card-body d-flex flex-column ">

                <!-- Descrição -->
                <p class="mb-0 text-muted flex-grow-1" style="
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        line-clamp: 3;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    " title="{{ app.descricao }}">
                    {{ app.descricao }}
                </p>

                <div class="d-flex flex-wrap gap-2 mt-auto">
                    {% if app.area %}
                    <span class="badge bg-primary">
                        <i class="bi bi-tag me-1"></i> {{ app.area }}
                    </span>
                    {% endif %}
                    {% if app.grupo %}
                    <span class="badge bg-warning text-dark">
                        <i class="bi bi-people me-1"></i> {{ app.grupo }}
                    </span>
                    {% endif %}
                </div>

            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</section>


<style>
    .hover-card {
        transition: transform 0.2s ease-in-out;
        box-shadow: 0.2s ease-in-out;
    }

    .hover-card:hover {
        transform: translateY(-4px);
        box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
    }

    .overflow-auto::-webkit-scrollbar-track {
        background: transparent;
    }

    .overflow-auto::-webkit-scrollbar-thumb {
        background-color: #FDC366;
        border-radius: 10px;
    }

    .overflow-auto::-webkit-scrollbar-thumb:hover {
        background-color: #e0a84e;
    }

    /* Para Firefox */
    .overflow-auto {
        scrollbar-color: #FDC366 transparent;
    }
</style>

{% endblock %}