{% extends "layout.html" %} {% block body %}

<!--  SEÇÃO DE EQUIPAMENTOS  -->
<section class="cluster mb-4">
    <h2 class="mb-3">Equipamentos</h2>
    <div class="row">

        <!--  LOOP PARA GERAR OS CLUSTERS  -->
        {% for cluster in lista_cluster %}
        <div class="col m-auto">
            <div class="card h-100 d-flex flex-column">
                <h5 class="card-header">{{ cluster.name }}</h5>
                <div class="card-body flex-grow-1 d-flex flex-column">
                    <a class="btn btn-outline-secondary btn-sm mt-auto" href="{{ url_for('lista_equipamentos_cluster', clusterName=cluster.name) }}"> Ver equipamentos
                    </a>
                </div>

                <div class="card-footer text-center mt-auto">
                    <a class="btn btn-primary" href="{{ url_for('cluster', clusterName=cluster.name) }}" role="button">Editar</a>
                </div>

            </div>
        </div>
        {% endfor %}

    </div>
</section>

<!--  SEÇÃO DE GRUPOS  -->
<section class="grupo">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="mb-3">Grupos</h2>
        <a class="btn btn-outline-light btn-sm" href="{{ url_for('lista_grupos') }}">
            Ver todos
        </a>
    </div>
    <div class="row g-4 justify-content-center">

        <!--  LOOP PARA GERAR OS GRUPOS  -->
        {% for grupo in lista_grupo %}
        <div class="col-12 col-sm-6 col-md-3 mb-4 d-flex align-items-stretch">
            <div class="card h-100 d-flex flex-column w-100">
                <!-- Logotipo do grupo ???? -->
                <h5 class="card-header">{{ grupo.nome }}</h5>
                <div class="card-body flex-grow-1 d-flex flex-column">
                    <!-- Coordenador -->
                    <div class="mb-2">
                        <!--DESDE... OU ATIVO DESDE...-->
                        <span class="fw-bold">Coordenador(es):</span> <br>
                        <span>{{ grupo.coordenador }}</span>
                    </div>
                    <a class="btn btn-outline-secondary btn-sm mt-auto" href="{{ url_for('lista_usuarios', groupName=grupo.nome) }}"> Ver usuários
                    </a>
                </div>

                <div class="card-footer text-center mt-auto">
                    <a class="btn btn-primary" href="{{ url_for('grupo', groupName=grupo.nome) }}" role="button">Editar</a>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}