{% extends "layout.html" %}
{% block body %}
<div class="container py-5">

    <!-- Seção de Aplicações -->
    <h2 class="mb-4">Aplicações</h2>
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4 g-4">
        {% for app in aplicacoes %}
        {% if app.tipo == 'Aplicação' %}
        <div class="col" id="app-{{ app.nome|replace(' ', '-') }}">
            <div class="card h-100 shadow-sm rounded-4 app-card d-flex flex-column">
                <div class="card-body d-flex flex-column ">
                    <h5 class="card-title fw-bold">{{ app.nome }}</h5>

                    <p class="card-text text-muted flex-grow-1 limited-text" style="--lines: 3;">
                        <span class="fw-bold">Função Principal:</span> {{ app.descricao }}
                    </p>

                    <hr class="my-2">

                    <div class="d-flex flex-wrap gap-2 mb-2">
                        <span class="badge bg-primary">
                            <i class="bi bi-tag me-1"></i> Área: {{ app.area }}
                        </span>
                        {% if app.grupo %}
                        {% set grupos = app.grupo.split('/') %}
                        {% for grupo in grupos %}
                        <span class="badge bg-warning text-dark">
                            <i class="bi bi-people me-1"></i> Grupo: {{ grupo }}
                        </span>
                        {% endfor %}
                        {% endif %}
                        {% if app.dependencia %}
                        <span class="badge bg-secondary">
                            <i class="bi bi-diagram-2 me-1"></i> Dependência de {{ app.dependencia }}
                        </span>
                        {% endif %}
                    </div>
                    <div class="small text-muted flex-grow-1 limited-text" style="--lines: 4;">
                        {% set tem_versao = app.versoes_e_hosts | selectattr("versao") | list %}
                        {% set tem_host = app.versoes_e_hosts | selectattr("host") | list %}

                        {% if tem_versao or tem_host %}
                        {% if tem_versao and tem_host %}
                        <p class="mb-1 fw-bold">
                            {% if tem_versao|length == 1 and tem_host|length == 1 %}
                            Versão e Host:
                            {% else %}
                            Versões e Hosts:
                            {% endif %}
                        </p>
                        {% elif tem_versao %}
                        <p class="mb-1 fw-bold">
                            {{ "Versão:" if tem_versao|length == 1 else "Versões:" }}
                        </p>
                        {% elif tem_host %}
                        <p class="mb-1 fw-bold">
                            {{ "Host:" if tem_host|length == 1 else "Hosts:" }}
                        </p>
                        {% endif %}

                        <ul class="list-unstyled mb-0">
                            {% for item in app.versoes_e_hosts %}
                            {% if item.versao or item.host %}
                            <li>
                                <i class="bi bi-caret-right-fill"></i>
                                {% if item.versao and item.host %}
                                {{ item.versao }} — <span class="fw-bold">{{ item.host }}</span>
                                {% elif item.versao %}
                                {{ item.versao }}
                                {% elif item.host %}
                                <span class="fw-bold">{{ item.host }}</span>
                                {% endif %}
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                {% if app.site %}
                <div class="card-footer bg-transparent border-0 d-flex justify-content-end mt-auto flex-1">
                    <a class="btn btn-outline-primary btn-sm rounded-pill" href="{{ app.site }}" target="_blank"
                        rel="noopener noreferrer">
                        <i class="bi bi-link-45deg me-1"></i> Ver detalhes
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <!-- Separador -->
    <hr class="my-5">

    <!-- Seção de Bibliotecas -->
    <h2 class="mb-4">Bibliotecas</h2>
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4 g-4">
        {% for app in aplicacoes %}
        {% if app.tipo == 'Biblioteca' %}
        <div class="col" id="app-{{ app.nome|replace(' ', '-') }}">
            <div class="card h-100 shadow-sm rounded-4 app-card d-flex flex-column">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title fw-bold">{{ app.nome }}</h5>

                    <p class="card-text text-muted flex-grow-1 limited-text" style="--lines: 3;">
                        <span class="fw-bold">Função Principal:</span> {{ app.descricao }}
                    </p>

                    <hr class="my-2">

                    <div class="d-flex flex-wrap gap-2 mb-2">
                        <span class="badge bg-primary"><i class="bi bi-tag me-1"></i> Área: {{ app.area }}</span>
                        {% if app.grupo %}
                        {% set grupos = app.grupo.split('/') %}
                        {% for grupo in grupos %}
                        <span class="badge bg-warning text-dark">
                            <i class="bi bi-people me-1"></i> Grupo: {{ grupo }}
                        </span>
                        {% endfor %}
                        {% endif %}
                        {% if app.dependencia %}
                        <span class="badge bg-secondary">
                            <i class="bi bi-diagram-2 me-1"></i> Depende de: {{ app.dependencia }}
                        </span>
                        {% endif %}
                    </div>

                    <div class="small text-muted flex-grow-1 limited-text" style="--lines: 4;">
                        {% set tem_versao = app.versoes_e_hosts | selectattr("versao") | list %}
                        {% set tem_host = app.versoes_e_hosts | selectattr("host") | list %}

                        {% if tem_versao or tem_host %}
                        {% if tem_versao and tem_host %}
                        <p class="mb-1 fw-bold">
                            {% if tem_versao|length == 1 and tem_host|length == 1 %}
                            Versão e Host:
                            {% else %}
                            Versões e Hosts:
                            {% endif %}
                        </p>
                        {% elif tem_versao %}
                        <p class="mb-1 fw-bold">
                            {{ "Versão:" if tem_versao|length == 1 else "Versões:" }}
                        </p>
                        {% elif tem_host %}
                        <p class="mb-1 fw-bold">
                            {{ "Host:" if tem_host|length == 1 else "Hosts:" }}
                        </p>
                        {% endif %}

                        <ul class="list-unstyled mb-0">
                            {% for item in app.versoes_e_hosts %}
                            {% if item.versao or item.host %}
                            <li>
                                <i class="bi bi-caret-right-fill"></i>
                                {% if item.versao and item.host %}
                                {{ item.versao }} — <span class="fw-bold">{{ item.host }}</span>
                                {% elif item.versao %}
                                {{ item.versao }}
                                {% elif item.host %}
                                <span class="fw-bold">{{ item.host }}</span>
                                {% endif %}
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                {% if app.site %}
                <div class="card-footer bg-transparent border-0 d-flex justify-content-end mt-auto">
                    <a class="btn btn-outline-primary btn-sm rounded-pill" href="{{ app.site }}" target="_blank"
                        rel="noopener noreferrer">
                        <i class="bi bi-link-45deg me-1"></i> Ver detalhes
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
<style>
    /* Estilo de destaque visual para o card */
    @keyframes highlight-pulse {
        0% {
            background-color: white;
        }

        50% {
            background-color: #fdc366;
        }

        100% {
            background-color: white;
        }
    }

    .highlight-card {
        animation: highlight-pulse 1s cubic-bezier(0.4, 0, 0.6, 1);
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const urlParams = new URLSearchParams(window.location.search);
        const appName = urlParams.get('nome');
        if (appName) {
            const element = document.getElementById(`app-${appName}`);
            if (element) {
                // Rola a página até o card
                element.scrollIntoView({ behavior: 'smooth', block: 'center' });

                // Adiciona a classe de destaque visual
                const card = element.querySelector('.card');
                if (card) {
                    card.classList.add('highlight-card');
                    // Remove a classe de destaque após 4 segundos
                    setTimeout(() => {
                        card.classList.remove('highlight-card');
                    }, 4000);
                }
            }
        }
    });
</script>
{% endblock %}