{% extends "layout.html" %} 
{% block body %}
<div class="cadastro">
    <h2>Usuários do {{ grupo.nome }}</h2>
    <ul class="list-group">
        {% for usuario in usuarios %}
        <li class="list-group-item d-flex justify-content-between align-items-center"  title="{{ usuario.observacoes }}">
            <strong>{{ usuario.nome }}</strong>
            {{usuario.email}}
            <a class="btn btn-primary btn-sm" href="{{ url_for('usuario', userName=usuario.nome) }}">Editar</a>
        </li>
        {% else %}
        <li class="list-group-item">Nenhum usuário cadastrado neste grupo.</li>
        {% endfor %}
    </ul> <br> <br>

    <h4>Inativos</h4>
    <ul class="list-group mb-4">
        {% set inativos = usuarios | selectattr('status', 'equalto', False) | list %}
        {% if inativos %}
            {% for usuario in inativos %}
            <li class="list-group-item d-flex justify-content-between align-items-center" title="{{ usuario.observacoes }}">
                <div>
                    <strong>{{ usuario.nome }}</strong> {{usuario.email}}
                </div>
                <div class="d-flex gap-2">
                    <a class="btn btn-primary btn-sm" href="{{ url_for('usuario', userName=usuario.nome) }}">Editar</a>
                </div>
            </li>
            {% endfor %}
        {% else %}
            <li class="list-group-item">Nenhum usuário inativo.</li>
        {% endif %}
    </ul>
    <a class="btn btn-secondary mt-3" href="javascript:history.back()">Voltar</a>
</div>
{% endblock %}