{% extends "layout.html" %}
{% block body %}

  <h2>Cadastrar equipamento</h2>

  <!--<form action="{{ url_for('cadastroEquipamento') }}" method=post>
    <dl>
      <dt>Nome do cluster:
      <dd><input type=text name=equip_cluster_name>
      <dt>Nome do equipamento:
      <dd><input type=text name=hostname>
      <dd><input type=submit value='Cadastrar equipamento'>
    </dl>
  </form>-->

  <!-- Formulário com bootstrap -->

  <form autocomplete="off" action="{{ url_for('cadastroEquipamento') }}" method=post>
    <div class="mb-3">
      <!-- Cluster -->
      <label class="form-label">Cluster</label>
      <select class="mb-3 form-select" aria-label="Default select example" name="equip_cluster_name">
        <option selected></option>
        {% for cluster in lista_cluster %}
          <option value="{{ cluster.name }}">{{ cluster.name }}</option>
        {% endfor %}
      </select>
      <!-- Hostname -->
      <label class="form-label">Equipamento</label>
      <input type="text" class="mb-3 form-control" name=hostname>
      <!-- Marca/Modelo -->
      <label class="form-label">Marca/Modelo</label>
      <input class="mb-3 form-control" list="modelos" name="modelo">
      <datalist id="modelos">
        {% for cluster in lista_cluster %}
          {% for equipamento in cluster.equipamentos %}  
            <option value="{{ equipamento.modelo }}">
          {% endfor %}
        {% endfor %}
      </datalist> 
      <!-- Tipo -->
      <label class="form-label">Tipo</label>
      <select class="mb-3 form-select" aria-label="Default select example" name="tipo">
        <option selected></option>
          <option value="cluster">Cluster</option>
          <option value="24x7">24x7</option>
          <option value="collocation">Collocation</option>
          <option value="inativo">Inativo</option>
      </select>
      <!-- Patrimônio -->
      <label class="form-label">Patrimônio</label>
      <input type="text" class="mb-3 form-control" name=patrimonio>
      <!-- Service Tag -->
      <label class="form-label">Service Tag</label>
      <input type="text" class="mb-3 form-control" name=serviceTag>
      <!-- nucleos -->
      <label class="form-label">Núcleos</label>
      <input type="text" class="mb-3 form-control" name=nucleo>
      <!-- memoria -->
      <label class="form-label">Memória RAM</label>
      <input type="text" class="mb-3 form-control" name=memoria>
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
  </form>

{% endblock %}